/**
 * Default theme
 */

div#feed,
div#titles {
	scrollbar-color: #e2e2e2 #f2f2f2;
}
 
::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
	border: 3px solid #f8f8f8;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
} 

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
  display: none
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-color: #f8f8f8;
}
 
 
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(/images/scrollbar-arrow-up.png);
  background-size: 9px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(/images/scrollbar-arrow-down.png);
  background-size: 9px;
} 

div#titles > div.datedivider {
	border-bottom: 1px solid #eee;
}

/**
 * Feed navigator settings
 */

ul.jqtree-tree .jqtree-toggler {
	color: #ccc;
}

